html {
    height: 100%;
    font-family: 'Cousine', monospace;
    background-color: #3d393d;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;

    margin: 0;
    padding: 0;
}

#main {
    bottom:0;
    left:0;
    right:0;
    /*outline: red 1px solid;*/

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr auto;
}

#contacts {
    display: flex;
    flex-direction: column;
    padding: 1em;

    grid-column: 1/2;
    grid-row: 1/3;

    /*border-radius: 1em;*/

    background-color: #161616;
}

#contacts > div {
    display: grid;

    margin: 0.5em;
    padding: 1em;
    border-radius: 0.5em;

    background-color: #4d1b53;

    cursor: pointer;
}

#received-messages {
    display: flex;
    flex-direction: column;

    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #1b141d;
    justify-content: flex-end;

   /* background: conic-gradient(
		from 45deg,
		#34213b 0,
		#2c232c 90deg,
		#1a0037 90deg,
		#270037 180deg,
		#463746 180deg,
		#3a343f 270deg,
		#302b2f 270deg,
		#1d181c 360deg
	);*/
    background-color: rgb(32, 30, 32);
    background-image: radial-gradient(rgb(105, 88, 109) 10%, transparent 15%),
      radial-gradient(rgb(105, 88, 109) 10%, transparent 15%);
   
    background-repeat: repeat;
	background-size: 1em 1em;
	/*height: 100vh; background-position: 0 0, 30px 30px;*/
}

.message-right {
    align-self: end;
    background-color: #deb6e4c2;
    padding: 1em;
    margin: 1em;
    border:none;
    border-radius: 0.5em;
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -ms-transform: skew(20deg);
    box-shadow: 6px 6px 6px #420d2c;
}

.message-right p {
    color: #1b141d;
    transform: skewX(-20deg);
}
.message-left {
    align-self: start;
    background-color: #491241b9;
    box-shadow: 6px 6px 6px #755467;
    padding: 1em;
    margin: 1em;
    border: none;
    border-radius: 0.5em;
    transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
}
.message-left p 
{
    color: #d6b1dd;
    transform: skewX(20deg);
}
#write-message{
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 1em;

    background-color: #241b25;


}

#write-message > input{
    background-color: #d6b1dd;
    margin-right: 1em;

    border: 0;
    box-shadow: none;

    border-radius: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
}

#write-message > button {
    background-color: #6e1546;
    padding: 0.5em;
    border-radius: 0.5em;

    border: 0;
    box-shadow: none;

    font-size: large;
    text-transform: capitalize;

    cursor: pointer;
}

#top-buttons {
    display: flex;
    align-items: center;

    flex-direction: row-reverse;
}

#top-buttons > button {
    padding: 1em;
    margin: 1em;
    border: none;
    border-radius: 1em;
}

#contacts > div.active {
    background-color: #deb6e4;
}

#top-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: #4d1b53;
}

#logged-address{
    display: flex;
    flex-direction: column;

    justify-content: center;

    padding: 1em;
}

#logged-address > label{
    color: #5e425e;
    font-size: smaller;
    /*background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;*/
}


