<!DOCTYPE html>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <html>
    <head>
        <title>Using web3 API with MetaMask</title>
        <link rel="stylesheet" href="./static/styles.css">

        <script src="https://cdn.jsdelivr.net/npm/web3@1.2.2/dist/web3.min.js"></script>
        <script src="./static/metamask_encryption.js"></script> 
        <!--<script src="./static/bundle.js"></script>
        <script src="./static/smart_contract.js"></script>
        <script src="./static/web3_test.js"></script>
        <script src="./static/jsencrypt_bundle.js"></script>
        <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>-->
        <script>

            async function login(){
                await check_metamask();
                await get_account();
                await get_public_key();

                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", "/setup", false ); // false for synchronous request
                xmlHttp.send( null );
                console.log(xmlHttp.responseText)

                document.getElementById('login-btn').textContent  = "Success!";
                document.getElementById('login-btn').style.backgroundColor = "#11bf3d";

                document.getElementById('logged-address-value').textContent = account;
            }

            function addMessage(message, side){
                let messages = document.getElementById('received-messages');
                child = document.createElement("span");
                child.textContent = message;
                child.classList.add(side)

                messages.appendChild(child);
            }

            function sendMessage(){
                const message = document.getElementById('send-message-input').value;
                if (message === "") {return;}
                document.getElementById('send-message-input').value = "";
                const sides = ['message-right', 'message-left']
                const index = Math.floor(Math.random() * 2);
                addMessage(message, sides[index])
            }

            function send_message_request() {
                const address = document.getElementById('send-request').value;
                console.log(address)

                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "POST", "/set_con", false ); // false for synchronous request
                xmlHttp.send( JSON.stringify({"target_address": address}) );
                console.log(xmlHttp.responseText)
            }

            function receive_new_messages() {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", "/get_con", false ); // false for synchronous request
                xmlHttp.send( none );
                console.log(xmlHttp.responseText)
            }
        </script>
    </head>
    <body>
        <div id="top-container">
            <div id = "logged-address">
                <label for="logged-address-value">You are logged in as:</label>
                <span id="logged-address-value">Not logged in yet</span>
            </div>
            <div id="top-buttons">
                <button id="login-btn" onclick="login()">Sign in</button>
                <input type="text" id="encrypt-input"/>
                <button onclick="encrypt_wrapper(document.getElementById('encrypt-input').value)">Encrypt message</button>
                <input type="text" id="decrypt-input"/>
                <button onclick="decrypt(document.getElementById('decrypt-input').value)">Decrypt message</button>

                <input type="text" id="send-request" value="0x66d9fb0Cd2D9103C29fF3a695479875FA422F6A8"/>
                <button onclick="send_message_request()">Send message request</button>

                <button onclick="receive_new_messages()">Receive new messages</button>
            </div>
        </div>

      <div id="main">
        <div id = "contacts">
            <div>
                <span>Address:</span>
                <span>0x71C7656EC7ab88b098defB751B7401B5f6d8976F</span>
            </div> 
            <div>
                <span>Address:</span>
                <span>0x7094a738526cC59CdB5E3806700d4Bd1b4f39e56</span>
            </div> 
            <div>
                <span>Address:</span>
                <span>0xcDFF1e1738121703679bE9839F778bb1f6527E81</span>
            </div> 
            <div class="active">
                <span>Address:</span>
                <span>0x80b6aBa3e4d22633d56Efa95708381928554A881</span>
            </div> 
            <div>
                <span>Address:</span>
                <span>0xC137B0AB0256Df59c23a8d31B0852315e16941De</span>
            </div> 
        </div>
        <div id = "received-messages">
            <span class="message-left">Hi there this is the first message</span>
            <span class="message-right">Hello this is another messagte there this is the first message</span>
            <span class="message-left">More messages coming this way</span>
        </div>
        <div id ="write-message">
            <input type="text" id="send-message-input"/>
            <button onclick="sendMessage()">SEND</button>
        </div>
      </div>
    </body>
    </html>