<!DOCTYPE html>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cousine&display=swap" rel="stylesheet"> 
        <title>Using web3 API with MetaMask</title>

        <script src="https://cdn.jsdelivr.net/npm/web3@1.2.2/dist/web3.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@walletconnect/browser@1.0.0-beta.46/lib/index.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@walletconnect/qrcode-modal@1.0.0-beta.46/lib/index.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="./static/walletconnect.js"></script>

        <link rel="stylesheet" href="./static/styles.css">

        <script src="https://cdn.jsdelivr.net/npm/web3@1.2.2/dist/web3.min.js"></script>
        <script src="./static/metamask_encryption.js"></script> 
        <!--<script src="./static/bundle.js"></script>
        <script src="./static/smart_contract.js"></script>
        <script src="./static/web3_test.js"></script>
        <script src="./static/jsencrypt_bundle.js"></script>
        <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>-->
        <script>

            target_address = null;
            
            async function login(){
                await check_metamask();
                await get_account();
                await get_public_key();

                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", "/setup", false ); // false for synchronous request
                xmlHttp.send( null );
                console.log(xmlHttp.responseText)

                document.getElementById('login-btn').textContent  = "Signed in";
                document.getElementById('login-btn').style.backgroundColor = "#11bf3d";

                document.getElementById('logged-address-value').textContent = account;
            }

            function addMessage(message, side){
                let messages = document.getElementById('received-messages');
                child = document.createElement("span");
                child.textContent = message;
                child.classList.add(side)

                messages.appendChild(child);
            }

            function sendMessage(){
                const message = document.getElementById('send-message-input').value;
                if (message === "") {return;}
                document.getElementById('send-message-input').value = "";
                const sides = ['message-right', 'message-left']
                const index = Math.floor(Math.random() * 2);
                addMessage(message, sides[index])
            }

            function send_message_request() {
                const message = document.getElementById('send-message-input').value;
                document.getElementById('send-message-input').value = "";
                console.log("Address: ", target_address)

                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "POST", "/set_con", false ); // false for synchronous request
                xmlHttp.send( JSON.stringify({"target_address": target_address, "message": message}) );
                console.log(xmlHttp.responseText)
            }

            function receive_new_messages() {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "POST", "/get_con", false ); // false for synchronous request
                xmlHttp.send( JSON.stringify({"target_address": target_address}) );

                data = JSON.parse(xmlHttp.responseText);
                addMessage(data['text'], 'message-left');
                console.log(xmlHttp.responseText)
            }

            function read_message(){
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", "/read_message", false ); // false for synchronous request
                xmlHttp.send( JSON.stringify({"target_address": target_address}) );
                console.log(xmlHttp.responseText)
            }

            function change_target_wallet(e){
                var caller = e.target || e.srcElement;

                if (caller instanceof HTMLSpanElement){
                    caller = caller.parentElement;
                }

                const contacts = document.getElementById('contacts');
                for (let i = 0; i < contacts.children.length; i++) {
                    let child = contacts.children[i];

                    child.classList.remove('active')
                }
                console.log(caller)
                caller.classList.add('active');

                target_address = caller.children[1].textContent;
            }
        </script>
    </head>
    <body>
        <div id="top-container">
            <div id = "logged-address">
                <label for="logged-address-value">You are logged in as:</label>
                <span id="logged-address-value">Not logged in yet</span>
            </div>
            <div id="top-buttons">

                    <div>
        <table id="data" hidden>
            <tr>
                <th>Account</th>
                <td><span id="account"></span></td>
            </tr>
            <tr>
                <th>ChainID</th>
                <td><span id="chainId"></span></td>
            </tr>
        </table>
        <hr>
        <div id="assets" hidden></div>
    </div>
        <button id="connect" onclick="connect()"> <img src="https://raw.githubusercontent.com/WalletConnect/walletconnect-assets/492d95c038bbcde1517cab5fb90ed4514690e919/png/square/walletconnect-square-black.png"  height ="30" width="30"></button>

        <button id="login-btn" onclick="login()"> <img type="image/svg+xml" src="https://upload.wikimedia.org/wikipedia/commons/3/36/MetaMask_Fox.svg" height ="30" width="30" ></button>
                <button onclick="receive_new_messages()">Receive new messages</button>
            </div>
        </div>

      <div id="main">
        <div id = "contacts">
            <div onclick="change_target_wallet(event)">
                <span>Address (Jan):</span>
                <span>0x61fF6367537Ab46FccAf06bB9FD05A1b308fb7B6</span>
            </div> 
            <div onclick="change_target_wallet(event)">
                <span>Address (Daniel):</span>
                <span>0x66d9fb0Cd2D9103C29fF3a695479875FA422F6A8</span>
            </div> 
            <div onclick="change_target_wallet(event)">
                <span>Address (Kalina):</span>
                <span>0x8fE2CE4C927C926cb7c97deeD8386a05710553D1</span>
            </div> 
            <div class="active" onclick="change_target_wallet(event)">
                <span>Address:</span>
                <span>0x80b6aBa3e4d22633d56Efa95708381928554A881</span>
            </div> 
            <div onclick="change_target_wallet(event)">
                <span>Address:</span>
                <span>0xC137B0AB0256Df59c23a8d31B0852315e16941De</span>
            </div> 
        </div>
        <div id = "received-messages">
            <span class="message-left"> <p> Hi there, this is the first message </p></span>
            <span class="message-right"> <p> Hey, message received. How are you? </p></span>
            <span class="message-left"> <p> All good. More messages coming your way </p></span>
        </div>
        <div id ="write-message">
            <input type="text" id="send-message-input"/>
            <button onclick="send_message_request()"> ENTER <i class="fa-solid fa-paper-plane-top"></i> 
            </button>
        </div>
      </div>
    </body>
    </html>